<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css" />
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
</head>

<body class>
    <section class="m-auto ">
        <div class="container py-5 gradient" id="RegCardLogin">
            <div class="row justify-content-between align-items-center">
                <div class="col-12">
                    <div id="cardForm" class="py-5">
                        <form>
                            <div class="SmallTitle text-center mb-3">Accedi al tuo account</div>
                            <div class="row justify-content-center align-items-start">
                                <div class="col-md-5 col-10">
                                    <div><input type="text" class="form-control" id="email" placeholder="email"></div>
                                    <div><input type="password" class="form-control" id="password"
                                            placeholder="password"></div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-start">
                                <div class="col-md-5 col-10"><input type="button" class="btn btn-lg" id="loginBtn"
                                        style="color: white;margin: 1rem; width:100%" value="accedi" /></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/bootstrap.min.js"></script>
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
</body>

</html>